@import url(reset.css);

.wrapper{
    background-color: #eaeaea;
}
.all_block{
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.heder_top{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 150px;
}
.menu a{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #494949;
}
.menu ul{
    display: flex;
    justify-content: space-evenly;
    column-gap: 30px;
    text-align: center;
}
.wrapper_2{
    background-color: #ed1c24;
    padding-bottom: 60px;

}
.heder2{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;

}
.title{
    padding-top: 120px;
    font-size: 50px;
    color: #ffffff;
    padding-bottom: 10px;
}
.img_h2 img{
    width: 380px; 
    height: 380px;
}
.text p {
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif ;
    width: 470px;
    line-height: 23px;
    text-align: justify;
    margin-bottom: 20px;
}
.bottom{
    border: 2px solid white;
    width: 190px;
    height: 50px;
    text-align: center;
    padding: 12px 20px;
    color: #ffffff;
    font-size: 20px;
}